@media only screen and (max-width: 420px){
.ig-card-content{
width: 90%;
}
.ig-main-content, .ig-about-fold .ig-top-content, .ig-main-content .center-xy{
    flex-direction: column !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important; 
}
.ig-footer{
    flex-direction: column;
}
.show-other{
    position: relative;
    font-size: 18px;
    top: -8.5px;
    padding:11px 10px;
    border: none;
    background: none; 
}
.show-other:hover .hide-desktop{
    display: block !important;
    position: fixed !important;
    top: 30px;
}
.hide-desktop{
      visibility: hidden !important;
      display: none !important;
      position: fixed !important;
  }
  .ig-navbar{
      top: 0px;
  }
  .hide-mobile{
    display: inline-block !important;
  }
  
.center-xy{
    flex-direction: column;
    position: absolute;
    top: 30%;
}
.center-xy h2{
    font-size: 17px;
}
.flutter-btn{
border: none;
background: #297c3b;
   
}
.post-card{
    margin: 0px !important; 
}
.events-section{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.events-section .post-list, .events-section .post-list .post-card{
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.navOptions a{
    display: block;
    width: 100%;
    padding: 10px 15px;
    float: left;
    
}
.navOptions button{
    font-size: 24px !important;
}
.ig-video-content, .ig-card-content, .ig-contents, .ig-video, .ig-culos-container
{ margin: 0px !important; padding: 0px !important; left: 0px;
    width: 100% !important;}
    .section-h1{
        font-size: 19px !important;
    }
    .ig-video-content{
        margin-bottom: 45px !important;
        width: 100% !important;
        
    }
  
}
@media only screen and (min-width: 600px){
    .ig-card-content{
        width: 40%;
    }
    .ig-main-content{
        height: 450px;
    }
    .ig-main-content .center-xy{
        top: 35%;
    }
}
@media only screen and (min-width: 800px){
    .ig-card-content{
        width: 30%;
     }
     
    .ig-main-content{
        height: 500px;
        
    }
    
    .ig-main-content .center-xy{
        top: 40%;
    }
}

.hide-mobile{
    display: none;
  }
.hide-desktop{
    display: block;
}
@media (max-width: 600px){
    .ig-video-content{
        margin-bottom: 100px;
  }
  .post-list{
      flex-direction: column;
  }
}