.ig-social-media .btn{
    transition: .3s all ease;
    overflow: hidden;
}
.ig-social-media .btn:hover{
    width: 120px;
    border-radius: 100px;
    transition: .3s all ease;
    transform: scale(1) translateY(0px);

}
#ig-fb:hover{
    background: #292b7c;
    color: white;
}
#ig-ins:hover{
    background: #a3173a;
    color: white;

}
#ig-wpp:hover{
    background: #297c3b;
    color: white;
}
#ig-pho:hover{
    background: #297c37;
    color: white;
}
.ig-navbar .btn{
     transition: .3s;
     font-weight: 500 !important;
     animation: linear rotate 10s infinite;
}
.ig-navbar .btn:hover{
  color: #008aed;
}
@keyframes rotate{
    from{
        filter: hue-rotate(0deg)
    }
    to{
        filter: hue-rotate(360deg)
    }
}