*{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: initial;
}
.ig-font-lucida{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.ig-about-fold .ig-top-content, .ig-navbar{
    width: 100%;
    background: rgba(0,0,0,0.4);
    transition: 0.8s all ease;
}
.ig-top-content *{ color: rgba(255, 255, 255, 0.699) !important; }
/* 
.ig-top-content::after{
    content: " ";
    border-radius: 100px;
    background: #008aed;
    position: fixed;
    height: 5px;
    width: 50%;
    left: 25%;
    top: 6%;

} */
.ig-main-content, .ig-about-fold .ig-top-content, .ig-main-content .center-xy{
    display: flex;
    align-items: center;
    justify-content: center;
}
.ig-content *{
    color: #222;
}
.ig-top-content .ig-social-media{
    /* social */
    margin: 5px;
}
.ig-text{
    font-size: 14px;
    font-weight: normal !important;
}
.rounded{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.ig-social-media .btn{
    line-height: 30px;
    text-align: center;
    border: 1px solid;
    margin-left: 10px;
} 
.ig-navigation,.btn{
    background: none;
    text-decoration: none;
    color: rgba(0,0,0,0.7);
}
   
.ig-navbar{
    position: relative;
    background: rgba(0,0,0,0.4);
    border-bottom: 1px solid rgba(255, 255, 255, 0.233); 
    box-shadow: 0px 10px 6px 0px rgba(0,0,0,0.09);
    backdrop-filter: blur(12px);
}
.ig-navbar *{
    color: rgba(255, 255, 255, 0.774)
}
.ig-navbar h1{
    height: 50px;
    font-size: 1.4rem;
    line-height: 50px;
    margin-left: 30px;
}
.ig-navbar .ig-navigation{
  position: absolute;
  margin-right: 30px;
  right: 0px;
  top: 25%;
}
.ig-main-content{
    background: #444;
    transition: .4s;
    height:400px;
    background-image: url("../assets/images/palco.png");
    backdrop-filter: blur(20px);
    background-size: cover;
    background-position: center;
    box-shadow: 0px -15px 15px 0px rgba(0, 0, 0, 0.3) inset,
    0px 0px 0px 2000px rgba(0,0,0,0.6) inset
    ; 
}
.ig-navbar .ig-navigation .btn{
    border: none;
    cursor: pointer;
    margin-left: 18px;
    font-size: 14.5px;
    padding: 5px;
}
.ig-navbar .ig-navigation .btn i{
    margin-right: 5px;
}
.ig-navbar .ig-navigation .btn:hover{
 padding: 5px 10px;
 border-radius: 5px;
 background: rgba(255, 255, 255, 0.053);
}
.center-xy{
    flex-direction: column;
    position: absolute;
    top: 30%;
    
}
.center-xy h1, 
.center-xy h2{
    display: block;
    color: white;
    
}
.flutter-btn{
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
}
.g-content h1{
    margin: 10px;
    margin-left: 25px;
}
.ig-content p{
    margin: 10px;
    margin-left: 25px;
    display: flex;
    align-content: center;
    align-items: center;
}
.fixed-content{
    position: fixed;
    width: 100%;
    z-index: 10;
}
.ig-card-content{
    width: 100%;
    display: inline-block;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}
.ig-card-content h1{
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}
.ig-center{
    text-align: center !important
}
.ig-video-content{
    width: 90%;
    height: 200px;
    margin: 25px 0px 0px 25px;
}
.ig-video-content .ig-video{
    width: 100%;
}
.ig-footer{
width: 100%;
background: #333;
display: flex;

}

.ig-footer .ig-ft-container{
    padding: 10px 15px;
}
.ig-footer h1{
    color: #aaa;
    font-size: 22px;
}
.section-h1::before{
    content: " ";
    background-color: rgb(110, 110, 110);
    
    margin-right: 10px;
    display: inline-block;
    position: relative;

    top: -5px;
    width: 30px;
    height: 2px;
}
.section-h1{
    position: relative;
    font-size: 1.5rem;
    margin: 30px 40px;
    color: #222;
}
.section-h1:hover{
    color: orange;;
}
.ig-footer p{ color: #aaa; }
.cultos-container{
    margin-left: 10px;
}
.events-section{
display: flex;
flex-direction: column;
padding: 0px 30px;
padding-bottom: 60px;
}
.post-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.post-card{
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.2);  
    width: 400px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.post-list .post-card{
margin-right: 10px;
}
.post-list .post-card:last-child{
margin-right: 0px;
}
.post-card img{
    background-size: 100%;
    width: 100%;
}
.content{
    padding: 20px;
}
.content h2, .content p{
    margin-left: 20px;
}
.btn-link{
    margin-left: 20px;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    padding: 10px 15px;
    background: #222;
    color: white;
}
.btn-link:hover{
    animation: linear rotate 10s infinite;
    box-shadow: 0px 0px 0px  200px rgba(248, 66, 11, 0.2) inset;
}
.h-2{
    height: 450px;
}